In [90]:
list1 = ["aryan","Patel","30",30]
list1

['aryan', 'Patel', '30', 30]

In [91]:
list2 = list1
list2

['aryan', 'Patel', '30', 30]

In [92]:
list3 = list1.copy()

In [93]:
list3

['aryan', 'Patel', '30', 30]

In [94]:
list2

['aryan', 'Patel', '30', 30]

In [95]:
list1.append("RRR")

In [96]:
list2

['aryan', 'Patel', '30', 30, 'RRR']

In [97]:
list3

['aryan', 'Patel', '30', 30]

In [98]:
# then we had type conversion

In [99]:
# creating tuple
tuple1 = ("Aryan","Ketan","Patel")

In [100]:
tuple1

('Aryan', 'Ketan', 'Patel')

In [101]:
del tuple1

In [102]:
tuple1

NameError: name 'tuple1' is not defined

In [103]:
#gives errors when we execute a tuple which is not present!!!!

In [104]:
info = ("Ahmedabad","Delhi","Mumbai")

In [105]:
info[1:3]

('Delhi', 'Mumbai')

In [106]:
# changes being applied to tuple by changing to list

In [107]:
type(info)

tuple

In [108]:
list1 = list(info)

In [109]:
list1.append("New City69")

In [110]:
info = tuple(list1)

In [111]:
info

('Ahmedabad', 'Delhi', 'Mumbai', 'New City69')

In [112]:
# thus we made changes to the tuple by changing it to list and then back to tuple

In [113]:
l1 = [1,2,3,"Data"]
l2 = [4,5,6,"Science"]

In [114]:
l3 = l1 + l2
l3

[1, 2, 3, 'Data', 4, 5, 6, 'Science']

In [115]:
t1 = tuple(l1)
t2 = tuple(l2)

In [116]:
t3 = t1 + t2
t3

(1, 2, 3, 'Data', 4, 5, 6, 'Science')

In [117]:
OddMerger = l1 + t2

TypeError: can only concatenate list (not "tuple") to list

In [118]:
temp1 = l1
temp1

[1, 2, 3, 'Data']

In [119]:
temp1

[1, 2, 3, 'Data']

In [120]:
temp1.reverse()

In [121]:
temp1

['Data', 3, 2, 1]

In [122]:
#...........................................................................................................................

In [123]:
#...........................................................................................................................

In [124]:
#...........................................................................................................................

In [125]:
s1 = {"Lucknow","Delhi","Mumbai","Ahmedabad"}

In [126]:
type(s1)

set

In [127]:
s1

{'Ahmedabad', 'Delhi', 'Lucknow', 'Mumbai'}

In [128]:
s2 = {"Aryan","Khushi","Ayush","Aryan","Pujan","Khushi"}
s2

{'Aryan', 'Ayush', 'Khushi', 'Pujan'}

In [129]:
# as we can see above set prints values only once i.e. it ignores duplicate values

In [130]:
print(s2)

{'Aryan', 'Khushi', 'Ayush', 'Pujan'}

In [131]:
s3 = s2.copy()

In [132]:
s3.update("Paagal")
#see the runtime error it will generate

In [133]:
s3

{'Aryan', 'Ayush', 'Khushi', 'P', 'Pujan', 'a', 'g', 'l'}

In [134]:
# in order to use it appropiately we should pass it as a list

In [135]:
# i.e.
s2.update(["Genius"])
s2

{'Aryan', 'Ayush', 'Genius', 'Khushi', 'Pujan'}

In [136]:
# theme has been changed

In [137]:
data_science = {"Manipulation" : "SQL",
               "Visualization" : "Tableau",
               "Programming" : "Python"}

In [138]:
data_science

{'Manipulation': 'SQL', 'Visualization': 'Tableau', 'Programming': 'Python'}

In [139]:
data_science["Visualization"]

'Tableau'

In [140]:
data_science.keys()

dict_keys(['Manipulation', 'Visualization', 'Programming'])

In [141]:
data_science.values()

dict_values(['SQL', 'Tableau', 'Python'])

In [142]:
data_science

{'Manipulation': 'SQL', 'Visualization': 'Tableau', 'Programming': 'Python'}

In [143]:
#aa nakkamu che
data_science.get("Programming")

'Python'

In [144]:
data_science["Manipulation"]

'SQL'

In [148]:
data_science.setdefault("Visualization")

'Tableau'

In [164]:
data_science.setdefault("NayeWalaDataType","NayeWalaDataValue")

'NayeWalaDataValue'

In [166]:
data_science

{'Manipulation': 'SQL',
 'Visualization': 'Tableau',
 'Programming': 'Python',
 'NayeWalaDataType': 'NayeWalaDataValue'}